body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fada4b;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 1em;
}

#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    margin-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #fada4b;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #fada4b;
}

footer {
    background-color: #f1e4a6;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
